* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  color: #333;
  line-height: 1.6;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
input,
textarea,
button {
  outline: none;
  border: none;
  font-family: inherit;
}
button {
  background: none;
  cursor: pointer;
}

.headline1 {
  font-size: 70px;
  font-weight: bold;
}

.headline2 {
}
.headline3 {
  font-size: 30px;
  font-weight: 500;
}

.headline4 {
  font-size: 30px;
  font-weight: 500;
}

.headline5 {
  font-size: 30px;
  font-weight: 500;
}

.body-text {
  font-size: 30px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .headline1 {
    font-size: 55px;
  }
  .headline2 {
    font-size: 45px;
  }
  .headline3 {
    font-size: 35px;
  }
}

@media screen and (min-width: 1024px) {
  .headline1 {
    font-size: 70px;
  }
  .headline2 {
    font-size: 55px;
  }
  .headline3 {
    font-size: 40px;
  }
}
