/* Responsive Styling */
@media (max-width: 768px) {
  header {
    display: none;
  }
  .hero {
    padding-top: 80px;
    background-image: url("assets/hero/mobile-background-image.png");
    background-size: contain;
    background-position: top left;
    height: auto;
  }
  .hero-container {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }

  .hero-image-wrapper {
    width: 100%;
  }

  .mockup-img {
    padding: 0;
    transform: translateY(30px);
    transform: translateX(-30px);
    width: 340px;
  }

  .hero-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero-content-wrapper {
    padding-bottom: 0;
    padding-top: 12px;
  }

  .hero-applink-wrapper {
    width: 100%;
    justify-content: center;
    padding: 40px 0;
  }
  .features {
    background-color: #163789; /* 진한 파란색 배경 */
  }
  .features-container {
    padding-top: 40px;
  }
  .features-background-filter {
    display: none;
  }
  .features-icon {
    width: 140px;
  }
  .features-icon img {
    width: 100%;
  }
}
