* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0a2c83;
}

html {
  height: 100%;
}

body {
  font-family: 'Wanted Sans', sans-serif;
  color: #333;
  line-height: 1.2;
  height: 100%;
  overflow-x: hidden;
}

section {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}
input,
textarea,
button {
  outline: none;
  border: none;
  font-family: inherit;
}
button {
  background: none;
  cursor: pointer;
}
