/* Responsive Styling */
@media (max-width: 768px) {
  header {
    display: none;
  }
  .hero {
    padding-top: 80px;
    background-image: url("../assets/hero/mobile-background-image.png");

    background-size: contain;
    background-position: top left;
    height: auto;
  }
  .hero-container {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .hero-image-wrapper {
    width: 100%;
  }

  .mockup-img {
    padding: 0;
    transform: translateY(30px);
    transform: translateX(-30px);
    width: 340px;
  }

  .hero-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .hero-content-wrapper {
    padding-bottom: 0;
  }

  .hero-applink-wrapper {
    width: 100%;
    justify-content: center;
  }
  .features {
    padding: 60px 20px;

    background-color: #163789; /* 진한 파란색 배경 */
  }
  .features-container {
    padding-top: 40px;
  }
  .features-background-filter {
    display: none;
  }
  .features-icon {
    width: 140px;
  }
  .features-icon img {
    width: 100%;
  }

  .features-explain-text {
    margin-top: 24px;
  }

  .service-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .service-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pc-view {
    display: none;
  }
  .mobile-view {
    display: block;
    text-align: center;
    margin: 24px 0;
    padding-bottom: 60px;
  }
  .service-container {
    padding: 40px 20px;
  }

  .service-image-wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
  .service-left-area {
    height: auto;
    margin-right: 0px;
  }

  .service-right-area {
    width: 100%;
    height: auto;
    margin-top: 24px;
  }

  .estimate-container {
    padding: 20px;
    padding-top: 48px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;
  }

  .estimate-image-wrapper {
    max-width: 350px;
    margin: 0 auto;
  }

  .estimate-left-area,
  .estimate-right-area {
    height: auto;
    margin-top: 24px;
  }
  .estimate-right-area {
    margin-top: 48px;
  }

  .useit-guide-wrapper {
    max-width: auto;
  }
  .progress-container {
    display: none;
  }
  .useit-step-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .useit-step-image-wrapper {
    position: relative;
  }
  .useit-title-wrapper {
    margin-bottom: 24px;
  }
  .mobile-step {
    display: block;
    position: absolute;
    height: 2px;
    top: 0;
    border-top: 2px dotted #92addd;
  }
  .left-line {
    width: 50%;
    right: 0;
  }
  .full-line {
    width: 100%;
    left: 0;
  }
  .right-line {
    width: 50%;
    left: 0;
  }
}
