/* Responsive Styling */
@media (max-width: 768px) {
  header {
    display: none;
  }
  .hero {
    padding-top: 58px;
    background-image: url('../assets/hero/mobile-background-image.png');

    background-size: contain;
    background-position: top left;
    height: auto;
  }
  .hero-container {
    padding: 20px;
    flex-direction: column;
    justify-content: center;
  }

  .hero-image-wrapper {
    width: 100%;
  }

  .headline2.headline-box {
    font-weight: 500;
  }
  .mockup-img {
    padding: 0;
    transform: translateY(30px);
    transform: translateX(-30px);
    width: 340px;
  }

  .hero-content-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .hero-content-title .headline5 {
    margin-bottom: 12px;
  }

  .hero-content-wrapper {
    padding-bottom: 0;
    padding-right: 0;
  }

  .hero-applink-wrapper {
    width: 100%;
    justify-content: center;
  }
  .features {
    padding: 20px;

    background-color: #163789; /* 진한 파란색 배경 */
  }
  .features-container {
    padding-top: 40px;
  }
  .features-background-filter {
    display: none;
  }
  .features-icon {
    width: 140px;
  }
  .features-icon img {
    width: 100%;
  }

  .features-explain-text.body-text {
    margin-top: 60px;
    font-size: 16px;
  }

  .service-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .service-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .pc-view {
    display: none;
  }
  .mobile-view {
    display: block;
    text-align: center;
    margin: 24px 0;
    padding-bottom: 60px;
  }
  .service-container {
    padding: 40px 20px;
  }

  .service-image-wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
  .service-left-area {
    height: auto;
    margin-right: 0px;
  }

  .service-right-area {
    width: 100%;
    height: auto;
    margin-top: 24px;
  }

  .estimate {
    height: auto;
  }

  .estimate-container {
    padding: 20px;
    padding-top: 48px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;
  }

  .estimate-image-wrapper {
    max-width: 350px;
    margin: 0 auto;
  }

  .estimate-search-image-wrapper {
    max-width: 120px;
    top: -80px;
  }
  .estimate-left-area,
  .estimate-right-area {
    height: auto;
    margin-top: 24px;
  }
  .estimate-right-area {
    margin-top: 48px;
  }

  .review {
    height: auto;
  }
  .review-text-wrapper {
    text-align: center;
    gap: 0px;
    padding: 24px;
    box-sizing: border-box;
  }
  /* review */
  .review-container {
    padding: 60px 20px;
    flex-direction: column;
    gap: 24px;
  }

  .review-left-area,
  .review-right-area {
    height: auto;
  }

  .review-flex-box {
    height: 320px;
    max-width: none;
    border-radius: 30px;
  }
  .review-item {
    height: 58px;
    border-radius: 10px;
  }

  .review-flex-box {
    padding: 16px;
    gap: 12px;
  }

  /* useit */
  .useit-guide-wrapper {
    max-width: auto;
  }
  .progress-container {
    display: none;
  }
  .useit-step-image {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-top: 0;
  }
  .useit-step-image-wrapper {
    position: relative;
  }
  .step-image-wrapper {
    top: -20px;
    right: -40px;
    max-width: 80px;
  }
  .useit-title-wrapper {
    margin-bottom: 24px;
  }
  .mobile-step {
    display: block;
    position: absolute;
    height: 2px;
    top: 0;
    border-top: 2px dotted #92addd;
  }
  .left-line {
    width: 50%;
    right: 0;
  }
  .full-line {
    width: 100%;
    left: 0;
  }
  .right-line {
    width: 50%;
    left: 0;
  }
  .useit-background {
    background: #fff;
  }
  .useit-container {
  }
  .useit-step-wrapper {
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .mobile-step-circle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .step-text {
    display: inline-block;
    position: relative;
    top: auto;
    left: auto;
    transform: translateX(0);
    margin-bottom: 12px;
    padding: 4px;
  }

  .guide-container {
    padding-top: 80px;
  }
  .guide-title-wrapper {
    padding: 0 20px;
  }
  .guide-content-wrapper {
    width: 100%;
    flex-direction: column;
    height: auto;
  }

  .mobile-background-filter {
    background: linear-gradient(180deg, rgba(232, 235, 247, 0) 0%, #e8ebf7 100%);
  }
  .app-image-wrapper-lg {
    width: 100%;

    max-width: none;
    display: flex;
    justify-content: center;
  }
  .app-image-wrapper-lg .iphone-mockup-2 {
    transform: translateY(0px);
    max-width: 358px;
    text-align: center;
  }

  .app-image-wrapper-m .app-image1 {
    transform: translateY(0px);
    max-width: 300px;
  }
  .app-title-flex-mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    gap: 12px;
    position: relative;
    top: 0;
    left: 0;
  }

  .app-title-flex-mobile .headline5 {
    max-width: none;
  }

  .dot-wrapper2,
  .dot-wrapper3 {
    display: none;
  }
  .app-image-flex {
    margin-top: 40px;
    width: 100%;
    justify-content: center;
  }
  .slide-icon-wrapper-mobile {
    display: flex;
    justify-content: flex-end;
  }

  .app-image-wrapper-m {
  }
  .app-explain-mobile-view {
    display: block;
  }
  .app-explain-mobile-text {
    width: 100%;
    padding: 48px 20px;
    font-weight: 500;
    color: #666;
    text-align: center;
  }

  .app-image-wrapper-m .app-image2 {
    transform: translateY(0px);
    max-width: 300px;
  }
  .app-image-wrapper-m .step-number {
    display: none;
  }
  .app-image-wrapper-m .circle-dot {
    display: none;
  }
  .slide-icon-wrapper {
    display: none;
  }

  .app-explain {
    display: none !important;
    transform: translateY(0px);
  }

  /* appointment */

  .appointment-wrapper {
    padding: 48px 20px;
    flex-direction: column-reverse;
    text-align: center;
  }

  .appointment-right-wrapper {
    padding-bottom: 0;
  }

  .text-box {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  .appointment-wrapper br {
    display: none;
  }

  /*card-section*/

  .card {
    padding: 48px 20px;
  }

  .card-wrapper {
    height: 520px;
    display: flex;
  }

  .card-inner {
    margin: 0;
    position: relative;
    padding: 60px 30px;
  }

  .card-applink-wrapper {
    position: absolute;
    bottom: 120px;
    left: 30px;
  }
  /* footer */

  footer {
    padding: 24px 20px;
  }
  .footer-info-wrapper {
    flex-direction: column;
    gap: 2px;
  }
  .footer-nav {
    font-size: 14px;
  }

  .go-to-up-btn-wrapper {
    display: block;
  }
  .go-to-up-btn {
    font-size: 20px;
  }

  .app-store-button {
    width: 120px;
    height: 38px;
  }
  .play-store-button {
    width: 136px;
    height: 38px;
  }
}
