/* hedaer */

header {
  width: 100%;
  height: 100px;
  background-color: #778dcf;
  border-bottom: 1px solid #fcfcfc;
  padding: 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 999;
}

.header-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-wrapper {
  padding-right: 100px;
}
.header-nav {
  display: flex;
  gap: 12px;
  color: #fff;
  font-weight: bold;
}

/* header logo */
.header-logo-wrapper {
  margin-left: 100px;
  height: 100%;
  display: flex;
  align-items: center;
}

/* hero-section */
.hero {
  width: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  background-color: var(--primary-color);
  background-image: url("../assets/hero/background-image.png");
  background-size: cover; /* 이미지가 div를 완전히 덮도록 설정 */
  background-position: center; /* 이미지를 중앙에 위치 */
  background-repeat: no-repeat; /* 이미지 반복 없음 */
  position: relative;
}

.hero-container {
  display: flex;
  width: 100%;
  padding: 60px;
  color: #fff;
}

.hero-content-title .headline5 {
  font-weight: 300;
  margin-bottom: 20px;
}

.hero-content-title .headline1 {
  font-weight: 500;
}

.hero-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  max-height: 900px;
  margin: 0 auto;
  background-color: red;
}

.mockup-img {
  transform: translateY(30px);

  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: all ease-in-out 0.3s;

  width: 100%; /* 이미지 너비를 컨테이너의 100%로 설정 */
  height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
  display: block; /* 이미지 아래의 불필요한 공간 제거 */
}

.hero-image-content {
  width: 100%;
  height: 100%;
}

.hero-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 120px;
}

.hero-applink-wrapper {
  display: flex;
  width: 100%;
  padding: 40px 0;
  gap: 12px;
}

.app-link-button {
  cursor: pointer;
  width: 100%;
}

.hero-flex {
  width: 100%;
  display: flex;
}

/* 이까지 히어로 섹션 */

/* features섹션 */

.features {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  padding: 120px;
}
.features-background-filter {
  position: absolute;
  z-index: 1;
  width: 200%;
  left: -50%;
  height: 100%;
  background-color: #163789; /* 진한 파란색 배경 */
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}

.features-container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 24px;
  padding-top: 120px;
  text-align: center;
  word-break: keep-all;
}

.features-container .headline5 {
  font-weight: 300;
  color: #c5cdeb;
  margin-bottom: 48px;
}

.features-container .headline2 {
  font-weight: 300;
}

.features-explain-text {
  color: #c4c4c4;
  margin-top: 60px;
  max-width: 900px;
  word-break: keep-all;
  text-align: center;
}

.chat-icon {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* 이까지 features 섹션 */

.service {
  width: 100%;
  height: calc(100% + 50px);
  background-color: var(--primary-color);
  position: relative;
}

.service-container {
  width: 100%;
  height: 100%;
  padding: 120px;
  display: flex;
  color: #fff;
}

.service-left-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 3vw;
}
.mobile-view {
  display: none;
}

.service-text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  word-break: keep-all;
  width: 100%;
}

.service-sub-title {
  font-size: 26px;
  color: #c5cdeb;
}

.service-sub-text-wrapper {
  width: 100%;
  max-width: 720px;
}

.service-sub-text-wrapper {
  color: #c4c4c4;
  word-break: keep-all;
}
.service-right-area {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-image-wrapper {
  max-width: 550px;
}
.service-iphone-img {
  width: 100%; /* 이미지 너비를 컨테이너의 100%로 설정 */
  height: auto; /* 높이를 자동으로 조정하여 비율 유지 */
  display: block; /* 이미지 아래의 불필요한 공간 제거 */
}

/* 여기까지 서비스 */

/* estimate section */
.estimate {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: relative;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  transform: translateY(-50px);
  z-index: 1;
}

.estimate-container {
  width: 100%;
  height: 100%;
  padding: 120px;
  padding-bottom: 0;
  display: flex;
  color: #0d0d0d;
  gap: 24px;
}

.estimate-left-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.estimate-right-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.estimate-image-wrapper {
  max-width: 480px;
}

.estimate-search-image-wrapper {
  position: absolute;
  top: 10%;
  right: 0;
}

.good-image {
  width: 100%;
  height: auto;
}

.estimate-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 500px;
  word-break: keep-all;
}
.estimate-sub-text-wrapper .body-text {
  color: #666;
}

.global-sub-title {
  color: #0a2c83;
  font-size: 26px;
}

.useit {
  position: relative;
}

.useit-background {
  background: linear-gradient(180deg, rgba(232, 235, 247, 0) 0%, #e8ebf7 100%);
  width: 100%;
  height: 100%;
}
.useit-container {
  width: 100%;
  padding: 120px 0;
}

.useit-title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 120px;
  text-align: center;
  word-break: keep-all;
}

.useit-guide-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.useit-image-wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.charctor-img {
  width: 100%;
  height: auto;
}

.useit-step {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.useit-step-progress {
  width: 100%;
  display: flex;
}

.useit-step-image {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.useit-step-image-wrapper {
  max-width: 320px;
  margin: 0 auto;
}
.useit-step-image-wrapper img {
  width: 100%;
  height: auto;
}

.step-image-wrapper {
  position: absolute;
  top: -160px;
  right: -40px;
  max-width: 100px;
}
.step-image-wrapper img {
  width: 100%;
}

.useit-step-wrapper {
  position: relative;
}

/* progress bar */
.progress-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 10px;
}
.progress-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 33%;
}
.step-number {
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #4e7df7;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #365abb;
}
.step-text {
  display: flex;
  justify-content: center;
  align-content: center;

  padding: 4px 20px;

  background-color: #e8ebfb;
  color: #365abb;

  font-size: 14px;
  font-weight: bold;

  border-radius: 34px;

  position: absolute;
  width: max-content;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}
.progress-line {
  position: absolute;

  width: 100%;
  height: 2px;
  border-top: 2px dotted #92addd;
}

.mobile-step {
  display: none;
}
.mobile-step-circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #4e7df7;
  position: absolute;
  display: none;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
}

/* progress bar */

/* useit section2 */
.guide-container {
  width: 100%;
  padding-top: 120px;
}
.guide-title-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  word-break: keep-all;
  margin-bottom: 48px;
}
.guide-content-wrapper {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  position: relative;
}
.app-image-flex {
  display: flex;
}

.app-image-wrapper-lg {
  max-width: 500px;
}
.slide-icon-wrapper {
  position: relative;
  padding-top: 220px;
  width: auto;
}

.app-image-wrapper-m {
  position: relative;
}
.app-image-wrapper-lg .iphone-mockup-2 {
  width: 100%;
  max-width: 500px;
  transform: translateY(12px);
}

.app-image-wrapper-m .app-image1 {
  width: 100%;
  transform: translateY(40px);
}

.app-image-wrapper-m .app-image2 {
  width: 100%;
  transform: translateY(110px);
}
.app-image-wrapper-m .app-explain {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  transform: translateY(140px);
  margin-bottom: 48px;
}
.bg-white-container {
  background-color: #fff;
}

.dot-wrapper {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.top-circle {
  position: absolute;
  top: 64px;
}
.circle-dot {
  width: 2px;
  height: 70px;
  position: absolute;
  border-left: 2px dotted #92addd;

  z-index: 1;
  top: 70px;
  left: 50%;
}

.slide-icon-wrapper-mobile {
  display: none;
}

/* appointment c */
.appointment-container {
  width: 100%;
  min-height: 700px;
}
.appointment-wrapper {
  padding: 120px;
  padding-top: 540px;
  display: flex;
  gap: 40px;
}

.appointment-image-wrapper {
  max-width: 620px;
  margin: 0 auto;
}

.appointment-img {
  width: 100%;
}
.appointment-main-text-wrapper {
  margin-top: 24px;
}
.appointment-left-wrapper {
  width: 100%;
}
.appointment-right-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 120px;
}
.headline-box {
  word-break: keep-all;
  line-height: 1.2;
}
.text-box {
  max-width: 620px;
  word-break: keep-all;
  margin-top: 48px;
}

/*  card section */

.card {
  padding: 120px;
  width: 100%;
}

.card-wrapper {
  width: 100%;
  height: 890px;
  border-radius: 40px;
  background-image: url("../assets/card/배경물결.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-inner {
  height: 100%;
  width: 100%;

  padding: 120px;
  padding-top: 240px;
}
.card-app-link-text {
  color: #c4c4c4;
  margin: 48px 0;
}
.card-app-download-title {
  color: #c5cdeb;
  font-weight: 700;
}

.card-headline-wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
}

.card-headline-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* footer */
footer {
  padding: 100px 120px;
}

.footer-headline-wrapper {
  display: flex;
  gap: 2px;
  text-align: center;
  margin-bottom: 20px;
}

.footer-info-wrapper {
  display: flex;
  gap: 4px;
  color: #716f6f;
}

.footer-info-wrapper .body-text {
  font-weight: 500;
  color: #808080;
}
.footer-color {
  font-weight: 500;
  color: #808080;
}

.footer-color {
  color: #716f6f;
}

.footer-nav {
  display: flex;
  gap: 30px;
  font-weight: bold;
}

.footer-bottom-wrapper {
  display: flex;
  padding-top: 70px;
  justify-content: space-between;
}

.go-to-up-btn-wrapper {
  display: none;
  width: 100%;
  padding: 20px 0 40px 0;
  text-align: center;

  font-weight: bold;
  background-color: #0a2c83;
  color: #fff;
}

.go-to-up-btn {
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
}

.card-applink-wrapper {
  display: flex;
  width: 100%;
  gap: 12px;
}

.app-title-flex-mobile {
  display: none;
}
