@media (max-width: 1024px) {
  .mockup-img {
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
  }

  .hero-content-wrapper {
    padding-bottom: 10vh;
  }

  .features-icon {
    width: 320px;
  }
  .features-icon img {
    width: 100%;
  }

  .features-explain-text {
    margin-top: 48px;
  }
  .estimate-image-wrapper {
    max-width: 400px;
  }
  .useit-container {
    padding: 20px;
  }
  .useit-charctor {
    display: none;
  }
}
